<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invalid Credentials</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div
      class="main h-screen w-full flex flex-col justify-center items-center bg-zinc-400 dark:bg-zinc-800 dark:text-white"
    >
      <h2>Invalid email or password</h2>
      <p>Please try again!</p>
      <a href="/user/login">Login</a>
    </div>
  </body>
</html>
